* {
  box-sizing: border-box;
}

:root {
  --dark: #5f7daf;
  --light: #afafc7;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #f7dfd3;
}

header {
  background-color: var(--dark);
  height: 70px;
}

h1, h2, h3 {
  font-style: bold;
}

h1 {
  display: inline-block;
  padding: 5px;
  background-color: var(--light);
  color: var(--dark);
  margin: 5px;
}

nav {
  display: inline-block;
}

nav a {
  color: var(--light);
  font-style: bold;
}

p {
  margin: 0;
}
